/* line 2, ../sass/_layout.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 7, ../sass/_layout.scss */
body {
  margin: 0;
}

/* line 10, ../sass/_layout.scss */
ul {
  list-style: none;
}

/* line 11, ../sass/_layout.scss */
.title-area {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/_layout.scss */
p {
  margin: 0.5em 0;
}

/* line 20, ../sass/_layout.scss */
body {
  font-family: "Montserrat", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 24, ../sass/_layout.scss */
h2, h4 {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

/* line 29, ../sass/_layout.scss */
small {
  font-size: 0.7em;
}

/* line 33, ../sass/_layout.scss */
a:visited, a:link, a:hover {
  color: black;
}

/* line 42, ../sass/_layout.scss */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* line 46, ../sass/_layout.scss */
.grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  clear: both;
}
/* line 53, ../sass/_layout.scss */
.grid.more {
  padding-top: 2em;
}
/* line 57, ../sass/_layout.scss */
.grid .column {
  position: relative;
  float: left;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
/* line 62, ../sass/_layout.scss */
.grid .column.single {
  width: 22%;
}
/* line 63, ../sass/_layout.scss */
.grid .column.double {
  width: 47%;
}
/* line 64, ../sass/_layout.scss */
.grid .column.triple {
  width: 72%;
}
/* line 65, ../sass/_layout.scss */
.grid .column.full {
  width: 97%;
}
/* line 66, ../sass/_layout.scss */
.grid .column.single-offset {
  padding-left: 23.5%;
}
/* line 67, ../sass/_layout.scss */
.grid .column.double-offset {
  padding-left: 48.5%;
}
/* line 69, ../sass/_layout.scss */
.grid .content-right {
  text-align: right !important;
}
/* line 72, ../sass/_layout.scss */
.grid .content-center {
  text-align: center !important;
}
/* line 75, ../sass/_layout.scss */
.grid .column.single:nth-child(n+4) {
  float: right;
}
/* line 78, ../sass/_layout.scss */
.grid .column.double:nth-child(n+2) {
  float: right;
}
/* line 81, ../sass/_layout.scss */
.grid#parent-container, .grid#share-container {
  padding: 1.5em 0;
}
@media (min-width: 876px) {
  /* line 85, ../sass/_layout.scss */
  .grid .hide-for-mobile {
    display: block;
  }
  /* line 86, ../sass/_layout.scss */
  .grid .single-mobile-triple {
    width: 22%;
  }
  /* line 87, ../sass/_layout.scss */
  .grid .double-mobile-single {
    width: 47%;
  }
}
@media (max-width: 875px) {
  /* line 90, ../sass/_layout.scss */
  .grid .hide-for-mobile {
    display: none;
  }
  /* line 91, ../sass/_layout.scss */
  .grid .single-mobile-triple {
    width: 72%;
  }
  /* line 92, ../sass/_layout.scss */
  .grid .double-mobile-single {
    width: 22%;
  }
}

/* line 96, ../sass/_layout.scss */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0.4em 0;
  background: black;
  color: white;
}
/* line 103, ../sass/_layout.scss */
footer a:link, footer a:visited {
  color: white;
}

/* line 109, ../sass/_layout.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 132, ../sass/_layout.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 135, ../sass/_layout.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

/* line 143, ../sass/_layout.scss */
.preloader {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

/* line 154, ../sass/_layout.scss */
.ui-tooltip {
  background: white;
}

/* line 3, ../sass/_player.scss */
.player-buttons .player-ctrl {
  width: 96px;
  height: 96px;
  float: left;
  display: block;
}
/* line 8, ../sass/_player.scss */
.player-buttons .player-ctrl a#play, .player-buttons .player-ctrl a#stop {
  display: block;
  padding: 34px;
  background: #333;
}
/* line 14, ../sass/_player.scss */
.player-buttons .player-ctrl a#play:hover, .player-buttons .player-ctrl a#stop:hover {
  background: #666;
}
/* line 17, ../sass/_player.scss */
.player-buttons .player-ctrl a#stop div {
  width: 28px;
  height: 28px;
  background: #fff;
}
/* line 22, ../sass/_player.scss */
.player-buttons .player-ctrl a#play div {
  width: 0;
  height: 0;
  border-top: solid 14px transparent;
  border-bottom: solid 14px transparent;
  border-left: solid 1em #fff;
  margin-left: 8px;
}
/* line 31, ../sass/_player.scss */
.player-buttons .player-rec {
  width: 96px;
  height: 96px;
  float: left;
  display: block;
}
/* line 36, ../sass/_player.scss */
.player-buttons .player-rec a#rec {
  display: block;
  padding: 34px;
  background: #333;
}
/* line 40, ../sass/_player.scss */
.player-buttons .player-rec a#rec div {
  width: 28px;
  height: 28px;
  background: red;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
}
/* line 49, ../sass/_player.scss */
.player-buttons .player-rec a#rec:hover {
  background: #666;
}

/* line 54, ../sass/_player.scss */
a#monitor {
  padding: 48px;
  line-height: 48px;
  text-align: ceneter;
  background: #333;
  color: #ffffff;
  padding: 0;
}

/* line 62, ../sass/_player.scss */
.inactive {
  opacity: 0.3;
  cursor: auto;
}

/* line 68, ../sass/_player.scss */
.player-buttons .player-ctrl.stop #play {
  display: none;
}

/* line 71, ../sass/_player.scss */
.player-buttons .player-ctrl.play #stop {
  display: none;
}

/* line 74, ../sass/_player.scss */
.tracks-container {
  margin-left: 96px;
}
/* line 76, ../sass/_player.scss */
.tracks-container ul#tracks-list {
  padding: 0;
  margin: 0;
}

/* line 81, ../sass/_player.scss */
#gutter {
  position: relative;
  height: 100%;
}
/* line 84, ../sass/_player.scss */
#gutter ul {
  margin-bottom: 0;
}
/* line 86, ../sass/_player.scss */
#gutter ul .player {
  border-radius: 0;
  position: relative;
  height: 96px;
  background: #ffffff;
  border: none;
}
/* line 93, ../sass/_player.scss */
#gutter ul .player .loading {
  height: 96px;
}
/* line 95, ../sass/_player.scss */
#gutter ul .player .loading .ui-progressbar-value {
  background: #f4f4f4;
}
/* line 99, ../sass/_player.scss */
#gutter ul .player .info {
  z-index: 8000;
  height: 1.4em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 22px;
  bottom: 0;
  right: 0;
}
/* line 108, ../sass/_player.scss */
#gutter ul .player .info h6 {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
}
/* line 113, ../sass/_player.scss */
#gutter ul .player .info #timeleft {
  opacity: 0.3;
}
/* line 117, ../sass/_player.scss */
#gutter #handle {
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: #333333;
  width: 4px;
  margin-left: 0;
  z-index: 9000;
}
/* line 126, ../sass/_player.scss */
#gutter .ui-slider-range {
  background: #ffcc00;
}

/* line 130, ../sass/_player.scss */
#recordingslist audio {
  display: block;
  margin-bottom: 10px;
}

/* line 132, ../sass/_player.scss */
.node {
  stroke: #fff;
  stroke-width: 2px;
}

/* line 137, ../sass/_player.scss */
.link {
  fill: none;
  stroke: #000;
}

/* line 141, ../sass/_player.scss */
#monitor {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #333;
  color: #ffffff;
}

/* line 150, ../sass/_player.scss */
#monitor.monitor-on {
  color: #FFFD3C;
}

/* line 154, ../sass/_player.scss */
.player-save {
  width: 328px;
  height: 96px;
  display: block;
  float: right;
}
/* line 159, ../sass/_player.scss */
.player-save div#choose-a-name {
  width: 192px;
  height: 96px;
  padding: 1em;
  float: left;
}
/* line 164, ../sass/_player.scss */
.player-save div#choose-a-name p {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
/* line 169, ../sass/_player.scss */
.player-save a#save {
  display: inline-block;
  padding: 34px;
  background: #333;
}
/* line 175, ../sass/_player.scss */
.player-save a#save:hover {
  background: #666;
}
/* line 178, ../sass/_player.scss */
.player-save a#save div {
  width: 0;
  height: 0;
  border-top: solid 14px #06ec06;
  border-right: solid 14px transparent;
  border-left: solid 14px transparent;
  margin-top: 8px;
}

/* line 2, ../sass/_main.scss */
.top-bar .name h1 {
  padding: 12px 0;
}

/* line 5, ../sass/_main.scss */
.top-bar .name h1 a {
  display: block;
  text-indent: -9000px;
  width: 182px;
  height: 50px;
  background: url("/images/logo.png") no-repeat;
  background-size: 100%;
}

/* line 16, ../sass/_main.scss */
.kolike {
  line-height: 50px;
  padding: 18px 0 6px 16px;
}

/* line 20, ../sass/_main.scss */
.payoff {
  height: 96px;
}
/* line 22, ../sass/_main.scss */
.payoff h4 {
  text-transform: uppercase;
}

/* line 26, ../sass/_main.scss */
.v-center {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 35, ../sass/_main.scss */
.panel {
  margin: 2em 0;
}

/* line 36, ../sass/_main.scss */
.parent-message {
  margin-bottom: 2.5em;
}

/* line 39, ../sass/_main.scss */
.warning {
  position: absolute;
  top: 0;
  right: 67px;
}
