extends layout

block content
  iframe(src='http://nodeknockout.com/iframe/curly-brackets', frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')

  h1= title
  p Welcome to #{title}