// CONTAINER
.container {
  margin: 2em 0;
}
.payoff {
  height: 96px;
  h5 {
    text-transform: uppercase;
  }
}
.v-center {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}