// NAV BAR
.top-bar .name h1 {
  padding: 12px 0;
}
.top-bar .name h1 a {
  display: block;
  text-indent: -9000px;
  width: 182px;
  height:50px;
  background: url('/images/logo.png') no-repeat;
  background-size: 100%;

}

// CONTAINER
.container {
  margin: 2em 0;
}
.kolike {
  line-height: 50px;
  padding: 18px 0 6px 16px;
}
.payoff {
  height: 96px;
  h5 {
    text-transform: uppercase;
  }
}
.v-center {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.panel { margin: 2em 0; }
.parent-message {
  margin-bottom: 2.5em;
}