// PLAYER
.player-buttons {
  .player-ctrl {
    width: 96px;
    height: 96px;
    float: left;
    display: block;
    a#play, a#stop { 
      display: block;
      padding: 34px; 
      background: #333;
      div { }
    }
    a#play:hover, a#stop:hover { 
      background: #666;
    }
    a#stop div { 
      width: 28px; 
      height: 28px; 
      background: #fff; 
    }
    a#play div { 
      width: 0; 
      height: 0; 
      border-top: solid 14px transparent;
      border-bottom: solid 14px transparent;
      border-left: solid 1em #fff;
      margin-left: 8px;
    }
  }
  .player-rec {
    width: 96px;
    height: 96px;
    float: left;
    display: block;
    a#rec { 
      display: block;
      padding: 34px; 
      background: #333;
      div {
        width: 28px; 
        height: 28px; 
        background: red;
        border-radius: 14px;
        -moz-border-radius: 14px;
        -webkit-border-radius: 14px;
      }
    }
    a#rec:hover { 
      background: #666;
    }
  }
}
.inactive {
  opacity: 0.3;
  cursor: auto;
}

.player-buttons .player-ctrl.stop {
  #play { display: none; }
}
.player-buttons .player-ctrl.play {
  #stop { display: none; }
}
// TRACK
.tracks-container {
  margin-left: 96px;
}
#gutter {
  position: relative;
  height: 100%;
  ul {
    margin-bottom:0; 
    .player {
      border-radius: 0;
      position: relative;
      height: 96px;
      background: #ffffff;
      border: none;
      
      .loading {
        height: 96px;
        .ui-progressbar-value {
          background: #f4f4f4;
        }
      }
      .info {
        z-index: 8000;
        height: 1.4em;
        margin: auto;
        position: absolute;
        top: 0;
        left: 22px;
        bottom: 0;
        right: 0;
        h6 { margin: 0; }
        #timeleft { opacity: 0.3; }
      }
    }
  }
  #handle {
    position: absolute;
    top: 0px;
    height: 100%;
    background-color: rgb(51, 51, 51);
    width: 4px;
    margin-left: 0;
    z-index: 9000;
  }
  .ui-slider-range {
    background: #ffcc00;
  }
}
// SAVE
.player-save {
  width: 288px;
  height: 96px;
  display: block;
  float: right;
  div#choose-a-name {
    width: 192px;
    height: 96px;
    padding: 1em;
    float: left;
  }
  a#save { 
    float: left;
    width: 96px;
    display: block;
    padding: 34px; 
    background: #333;
    div { }
  }
  a#save:hover{ 
    background: #666;
  }
  a#save div { 
    width: 0; 
    height: 0; 
    border-top: solid 14px #06ec06;
    border-right: solid 14px transparent;
    border-left: solid 14px transparent;
    margin-top: 8px;
  }
}

