// PLAYER
.player-buttons {
  .player-ctrl {
    width: 96px;
    height: 96px;
    float: left;
    display: block;
    a#play, a#stop { 
      display: block;
      padding: 34px; 
      background: #333;
      div { }
    }
    a#play:hover, a#stop:hover { 
      background: #666;
    }
    a#stop div { 
      width: 28px; 
      height: 28px; 
      background: #fff; 
    }
    a#play div { 
      width: 0; 
      height: 0; 
      border-top: solid 14px transparent;
      border-bottom: solid 14px transparent;
      border-left: solid 1em #fff;
      margin-left: 8px;
    }
  }
  .player-rec {
    width: 96px;
    height: 96px;
    float: left;
    display: block;
    a#rec { 
      display: block;
      padding: 34px; 
      background: #333;
      div {
        width: 28px; 
        height: 28px; 
        background: red;
        border-radius: 14px;
        -moz-border-radius: 14px;
        -webkit-border-radius: 14px;
      }
    }
    a#rec:hover { 
      background: #666;
    }
  }
}
.inactive {
  opacity: 0.3;
  cursor: auto;
}

.player-buttons .player-ctrl.stop {
  #play { display: none; }
}
.player-buttons .player-ctrl.play {
  #stop { display: none; }
}
// TRACK
.player {
  position: relative;
  padding-left: 96px; 
  #gutter {
    border-radius: 0;
    height: 96px;
    background: #f4f4f4;
    border: none;
    #handle {
      top: 0px;
      height: 96px;
      background-color: rgb(51, 51, 51);
      width: 4px;
      margin-left: 0;
    }
    .ui-slider-range {
      background: #ffcc00;
    }
  }
  .info {
      z-index: 9000;
      height: 50%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 146px;
      bottom: 0;
      right: 0;
      h6 { margin: 0; }
      #timeleft { opacity: 0.3; }
    }
}
